<%- include("partials/header1"); -%>


    <h1><%=course.title%></h1>
    <p>By <%=course.name%></p>

    <p>
    <%=course.content%>
    </p>

    <p class="courseId"><%=course._id%></p>

  <%- include("partials/footer"); -%>
